.letter {
  width: 100px;
  font-size: 3rem;
  padding: 0.5rem;
  margin: 0 0.125rem;
  background: #e2e2e2;
  transition: all 0.3s;
}

.letter.complete {
  background: transparent;
}

.letter.pop {
  animation-name: popout;
  animation-duration: 0.35s;
  animation-iteration-count: 1;
}

@keyframes popout {
  0% {
    transform: scale(1);
  }
  /* 20% {
    transform: scale(0.8);
    animation-timing-function: ease-out;
  } */
  100% {
    transform: scale(1.15);
    opacity: 0.75;
    background: rgb(233, 40, 40);
    animation-timing-function: ease-in;
  }
  /* 100% {
    transform: scale(1);
    opacity: 1;
    background: #e2e2e2;
    animation-timing-function: ease-out;
  } */
}
